@import 'normalize';
@import "materialize/components/color";
$primary-color: color("blue", "lighten-2") !default;
@import 'materialize';


.userbutton {
  margin-top: 3rem;
}

.todos {
  width: 60%;
  margin-left: 15%;
}

.content-row{
  height: 100%;
}

body, html{
  height: 100%;
}

.page-containter{
  height: 100%;
}

.content {
  height: 100%;
}

#leftnav {
  height: 100%;
  padding: 0;
  border-left: 1px solid #e0e0e0;
}

.row {
  margin-bottom: 0;
}

.dropdown-container {
  
}
